@using System.Web.Optimization
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/jquery.js")"> </script>
    <script src="@Url.Content("~/Scripts/highcharts.js")"> </script>
    @Styles.Render("~/Content/minispiir")
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand">
                <span>MiniSpiir</span>
            </a>
            <ul class="nav">
                <li>@Html.ActionLink("Overblik", "Index", "Overview")</li>
                <li>@Html.ActionLink("Poster", "Index", "Posting")</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
